.footer{
    width: 1440px;
    background: #fff;
    margin: 0 auto;
    border: 1px solid rgb(255, 255, 255) ;
}
.footer_menu{
    width: 1280px;
    height: 120px;
    margin-top: 200px;
    background: #2C343E;
}
.menu_atimmm img{
    margin-left: 85px;
}
.footer_menu{
    display: flex;
    align-items: center;
}
.footer_ul{
    display: flex;
}
.footer_li{
    list-style-type: none;
    margin-left: 33px;
    
}
.atim_menu{
    margin-left: 103px;
}
.footer_li a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.footer_li a:hover{
    color: #fff;
}
.menu_link-img{
    margin-left: 330px;
}
.menu_link-img  svg{
    margin-right: 24px;
}
svg{
    fill: rgb(255, 255, 255);
}
svg:hover{
    fill: #FDD6BA;
}

/* MODAL*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 214px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(127, 126, 123); /* Fallback color */
    background-color: rgba(68, 68, 68, 0.7); /* Black w/ opacity */
}

.modal-content {
    margin: auto auto;
    box-sizing: border-box;
    padding-left: 78px;
    padding-right: 63px;
    background: #FEFCF7;
    border-radius: 8px;
    width: 540px;
    height: 597px;
    position: relative;
}
.div{
    display: inline-block;
    width: 540px;
    height: 136px;
    background: #333D4B;
    margin-bottom: 5px;
    margin-left: -78px;
    border-radius: 8px 8px 0px 0px;
}
.order h4{
    width: 428px;
    height: 160px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #83888F;
    margin-right: 120px;
    margin-left: -20px;
    margin-top: 57px;
}
span{
    color: #0E8684;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
}

.plar{
    width: 428px;
    height: 78px;
    margin-top: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-left: -20px;
}
.df{
    display: flex;
    align-items: center;
}
.df h3{
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-top: 57px;
    margin-left: -20px;
}
.list_linkcc{
    display: none;
}

.list_linkkc{
    margin-top: 50px;
}
.list_linkc{
    width: 217px;
    height: 56px;
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
    padding: 15px 31px 16px;
    background: #0E8784;
    border-radius: 6px; 
    margin-bottom: -100px; 
    margin-left: 63px;
}
.list_linkc:hover{
    background: #66D2CF;
}
.modal-content-text{
    font-family:"barlow", sans-serif;
    margin: 48px 148px 40px 56px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.subscribe-tg_link{
    background-color: rgb(43, 83, 190);
    width: 223px;
    height: 61px;
    padding: 17px 19px 12px 56px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;
    border-radius: 5px;
    background-image: linear-gradient(#1E96C8  0%, #37AEE2  100%);
    font-size: 24px;
    margin-top: 20px;
}

.subscribe-tg_link:hover{
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.subscribe-tg_img{
    position: absolute;
    left: 15px;
    
}